@import url("https://use.typekit.net/yjy6ajn.css");
:root {
  --color-bg: #fff;
  --color-fg: #333;
  --color-bg-abs: #fff;
  --color-fg-abs: #000;
  --color-border: #ccc;
  --color-comment: #999;
  --color-string: #f4bf75;
  --color-string-2: #d28445;
  --color-number: #aa759f;
  --color-operator: #333;
  --color-builtin: #6a9fb5;
  --color-atom: #aa759f;
  --color-keyword: #ac4142;
  --color-variable: #6a9fb5;
  --color-attribute: #6a9fb5;
  --color-selection: #e0e0e0;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #151515;
    --color-fg: #ccc;
    --color-bg-abs: #000;
    --color-fg-abs: #fff;
    --color-border: #333;
    --color-comment: #666;
    --color-string: #f4bf75;
    --color-string-2: #d28445;
    --color-number: #aa759f;
    --color-operator: #ccc;
    --color-builtin: #6a9fb5;
    --color-atom: #aa759f;
    --color-keyword: #ac4142;
    --color-variable: #6a9fb5;
    --color-attribute: #6a9fb5;
    --color-selection: #333;
  }
}

* {
  font-feature-settings: "zero" on;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  font-kerning: normal;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-size: 16px;
  margin: 0 auto;
}

.main {
  display: flex;
  height: calc(100vh);
  flex-direction: column;
}

.menu {
  margin: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  order: 1;
}
.logo svg {
  width: auto;
  height: 45px;
}
.logo svg path {
  fill: var(--color-fg);
}
.logo a:hover > svg path {
  transition: fill 1s linear;
  fill: var(--color-fg-abs);
}

.controls {
  order: 2;
  display: flex;
  align-items: center;
}

button.control {
  font-family: rift, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  font-size: 1.5em;
  margin: 0 0.25em;
  position: relative;
  color: var(--color-fg);
  padding: 0 0.5em;
  cursor: pointer;
  background: none;
  border: 2px solid var(--color-fg);
  border-radius: 3px;
}
button.control svg {
  padding: 0 0.4em 0 0;
  width: auto;
  height: 20px;
}
button.control svg path {
  fill: var(--color-fg);
}
button.control:hover {
  transition: all 0.1s linear;
  color: var(--color-fg-abs);
  border: 2px solid var(--color-fg-abs);
}
button.control:hover svg path {
  transition: all 0.1s linear;
  fill: var(--color-fg-abs);
}

button.help {
  cursor: help;
  position: relative;
  border: none;
  background: none;
  padding: 0.2em;
}
button.help .tooltip {
  font-family: source-code-pro, "source code pro", monospace;
  width: 250px;
  font-size: 1.1em;
  transition: all 0.1s linear;
  visibility: hidden;
  z-index: 10;
  position: absolute;
  color: var(--color-bg);
  background-color: var(--color-fg);
  border-radius: 3px;
  padding: 0.5em 1em;
  text-align: left;
  top: 140%;
  left: -52px;
  margin-left: -60px;
}
button.help .tooltip::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--color-fg) transparent;
}
button.help:hover > .tooltip {
  visibility: visible;
}
button.help svg {
  width: auto;
  height: 20px;
}
button.help svg path {
  fill: var(--color-fg);
}
@media screen and (max-width: 350px) {
  button.help {
    display: none;
  }
}

button.run {
  background-color: var(--color-fg);
  color: var(--color-bg);
}
button.run svg {
  width: auto;
  height: 16px;
}
button.run svg path {
  fill: var(--color-bg);
}
button.run::after {
  content: "Run";
}
button.run:hover {
  color: var(--color-bg-abs);
  background-color: var(--color-fg-abs);
}
button.run:hover svg path {
  fill: var(--color-bg-abs);
}

button.disas::after {
  content: "Disassemble";
}
@media screen and (max-width: 425px) {
  button.disas::after {
    content: "Disas";
  }
}

.playground {
  display: flex;
}
@media screen and (max-width: 850px) {
  .playground {
    flex-direction: column;
  }
}

.playground-left {
  min-width: 50%;
  order: 1;
}

.playground-right {
  min-width: 50%;
  order: 2;
  border-left: 2px solid var(--color-border);
}
@media screen and (max-width: 850px) {
  .playground-right {
    border: none;
  }
}

.playground-header {
  font-size: 1.1em;
  font-weight: 700;
  padding: 0 0.5em;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid var(--color-border);
  border-bottom: 2px solid var(--color-border);
}
.playground-header div {
  font-family: rift, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
.playground-header span {
  font-family: rift, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

#metrics {
  font-family: source-code-pro, "source code pro", monospace;
  text-transform: revert;
  font-weight: 400;
  font-size: 0.75em;
  padding: 0;
}

.playground-input {
  flex: 1;
}

.playground-output {
  flex: 1;
}

.header-dropdown {
  position: relative;
  margin: 0 auto;
}

button.header-dropdown {
  font-family: rift, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-size: 1em;
  font-weight: 700;
  padding-left: 0.75em;
  position: relative;
  color: var(--color-fg);
  cursor: pointer;
  background: none;
  border: none;
  border-left: 2px solid var(--color-border);
}
button.header-dropdown svg {
  padding: 0 0 0 0.35em;
  width: auto;
  height: 8px;
}
button.header-dropdown svg path {
  fill: var(--color-fg);
}
button.header-dropdown:hover {
  transition: all 0.1s linear;
  color: var(--color-fg-abs);
}
button.header-dropdown:hover svg path {
  fill: var(--color-fg-abs);
}

.dropdown {
  font-family: source-code-pro, "source code pro", monospace;
  top: 35px;
  right: -5px;
  display: none;
  position: absolute;
  max-height: 400px;
  overflow-y: scroll;
  background-color: var(--color-fg);
  text-align: right;
  z-index: 20;
  border-radius: 3px;
  color: var(--color-fg);
}
.dropdown ul {
  margin: 0;
  padding: 0;
}
.dropdown li {
  list-style: none;
}
.dropdown li a {
  font-family: source-code-pro, "source code pro", monospace;
  text-transform: initial;
  font-weight: 400;
  padding: 0.2em 0.8em;
  display: block;
  color: var(--color-bg);
  text-decoration: none;
  white-space: nowrap;
}
.dropdown li a:hover {
  color: var(--color-fg);
  background-color: var(--color-bg);
}

.open {
  display: block;
}

.CodeMirror {
  font-family: source-code-pro, "source code pro", monospace;
  padding: 0 0.5em;
  height: calc(100vh - 6em);
  direction: ltr;
  background: var(--color-bg);
  color: var(--color-fg);
}
@media screen and (max-width: 850px) {
  .CodeMirror {
    height: calc(50vh - 4em);
  }
}

.cm-s-riff .cm-comment {
  color: var(--color-comment);
}
.cm-s-riff .cm-string {
  color: var(--color-string);
}
.cm-s-riff .cm-string-2 {
  color: var(--color-string-2);
}
.cm-s-riff .cm-number {
  color: var(--color-number);
}
.cm-s-riff .cm-operator {
  color: var(--color-operator);
}
.cm-s-riff .cm-builtin {
  color: var(--color-builtin);
}
.cm-s-riff .cm-atom {
  color: var(--color-atom);
}
.cm-s-riff .cm-keyword {
  color: var(--color-keyword);
}
.cm-s-riff .cm-variable {
  color: var(--color-fg);
}
.cm-s-riff .cm-attribute {
  color: var(--color-attribute);
}
.cm-s-riff .CodeMirror-cursor {
  border-left: 2px solid var(--color-fg);
}
.cm-s-riff .CodeMirror-gutters {
  border: none;
  background-color: var(--color-bg);
}
.cm-s-riff .CodeMirror-linenumber {
  color: var(--color-comment);
}
.cm-s-riff .CodeMirror-focused .CodeMirror-selected {
  background-color: var(--color-selection);
}
.cm-s-riff .CodeMirror-selected,
.cm-s-riff .CodeMirror-line::selection, .cm-s-riff .CodeMirror-line > span::selection,
.cm-s-riff .CodeMirror-line > span > span::selection {
  background-color: var(--color-selection);
}
.cm-s-riff .CodeMirror-line::-moz-selection, .cm-s-riff .CodeMirror-line > span::-moz-selection,
.cm-s-riff .CodeMirror-line > span > span::-moz-selection {
  background-color: var(--color-selection);
}
