@use "sass:color"
@import url("https://use.typekit.net/xiz7evu.css")

// Breakpoint
$bp1: 850px

$color-primary: #C94848     // Links
$color-dark:    #1b1b1b
$color-light:   #fafafa

// Base colors for syntax highlighting
$color-number:  #a06666     // Numeric literals
$color-char:    #e3a37d     // Character literals
$color-string:  #dd9999     // String literals
$color-regex:   #fbcb97     // Regex literals
$color-op:      #cccccc     // Operator (only `in` for now)
$color-builtin: #5fa195     // Builtin tables/functions
$color-atom:    #974b46     // `null`
$color-keyword: #888888     // Keywords

:root
  color-scheme: light dark
  --color-bg: #{$color-light}
  --color-fg: #333
  --color-bg-abs: #fff
  --color-fg-abs: #000
  --color-comment: #999
  --color-number: #{$color-number}
  --color-char: #{$color-char}
  --color-string: #{darken($color-string, 10%)}
  --color-string-2: #{color.adjust($color-regex, $saturation: -30%, $lightness: -20%)}
  --color-operator: #{$color-op}
  --color-builtin: #{$color-builtin}
  --color-atom: #{$color-atom}
  --color-keyword: #{$color-keyword}
  --color-variable: #6a9fb5     // Unused
  --color-attribute: #5f81a5
  --color-selection: #e0e0e0
  @media (prefers-color-scheme: dark)
    --color-bg: #{$color-dark}
    --color-fg: #{darken($color-light, 20%)}
    --color-bg-abs: #000000
    --color-fg-abs: #ffffff
    --color-comment: #555555
    --color-number: #{$color-number}
    --color-char: #{$color-char}
    --color-string: #{$color-string}
    --color-string-2: #{$color-regex}
    --color-operator: #{$color-op}
    --color-builtin: #{$color-builtin}
    --color-atom: #{$color-atom}
    --color-keyword: #{$color-keyword}
    --color-variable: #6a9fb5   // Unused
    --color-attribute: #d0dfee
    --color-selection: #333333

*
  font-family: source-code-pro, 'source code pro', monospace
  font-weight: 400
  font-feature-settings: 'zero' on
  box-sizing: border-box

html
  -webkit-text-size-adjust: 100%
  font-kerning: normal

body
  background-color: var(--color-bg)
  color: var(--color-fg)
  font-size: 16px
  margin: 0 auto

.main
  display: flex
  height: 100vh
  flex-direction: column
  
.menu
  background-color: darken($color-light, 4%)
  @media (prefers-color-scheme: dark)
    background-color: $color-dark
  padding: 0.5em
  display: flex
  align-items: center
  justify-content: space-between
  button.control
    background-color: darken($color-light, 10%)
    @media (prefers-color-scheme: dark)
      background-color: lighten($color-dark, 8%)
    border: none
    &:hover
      background-color: darken($color-light, 15%)
      @media (prefers-color-scheme: dark)
        background-color: lighten($color-dark, 12%)
      border: none

// .submenu

.logo
  order: 1
  height: 45px
  svg
    width: auto
    path
      fill: var(--color-fg)
  a
    &:hover > svg path
      fill: var(--color-fg-abs)

.controls
  order: 2
  display: flex
  align-items: center

button.control
  font-size: 0.9em
  text-transform: uppercase
  margin-left: 0.5em
  position: relative
  color: var(--color-fg)
  padding: 0.15em 0.65em
  cursor: pointer
  background: none
  border: 1px solid var(--color-fg)
  border-radius: 2px
  &:hover
    transition: all 0.1s linear
    color: var(--color-fg-abs)
    border: 1px solid var(--color-fg-abs)
    svg
      path
        fill: var(--color-fg-abs)
  svg
    padding: 0 0 0 0.5em
    width: auto
    height: 7px
    path
      fill: var(--color-fg)

button.run
  background-color: var(--color-fg)
  color: var(--color-bg)
  &:hover
    color: var(--color-bg-abs)
    background-color: var(--color-fg-abs)

#link-group
  display: none
  margin: 0 0.35em

input.share-url
  color: var(--color-fg)
  background-color: var(--color-bg)
  border: none
  margin: 0 auto
  padding-left: 1em
  display: table-cell
  border-right: none
  border-radius: 2px 0 0 2px
  width: 600px
  @media screen and (max-width: $bp1)
    width: calc(100vw - 250px)

button.copy
  margin: 0 auto
  border-radius: 0 2px 2px 0
  
.playground
  height: calc(100vh - 61px)
  display: flex
  @media screen and (max-width: $bp1)
    flex-direction: column

.playground-header
  font-size: 0.9em
  padding: 0.5em
  text-transform: uppercase
  display: flex
  align-items: center
  justify-content: space-between
  height: 36px
  button.control
    padding: 0 0.65em

#metrics
  text-transform: initial
  font-size: 0.75em
  padding: 0

.playground-input
  min-width: 50%
  order: 1

.playground-output
  border-left: 2px solid darken($color-light, 10%)
  @media (prefers-color-scheme: dark)
    border-left: 2px solid lighten($color-dark, 2%)
  min-width: 50%
  order: 2
  @media screen and (max-width: $bp1)
    border-left: none
    border-top: 2px solid darken($color-light, 10%)
    @media (prefers-color-scheme: dark)
      border-top: 2px solid lighten($color-dark, 2%)

.header-dropdown
  position: relative
  margin: 0 auto
button.header-dropdown
  display: flex
  align-items: center
  font-size: 1em
  padding-left: 0.75em
  position: relative
  color: var(--color-fg)
  cursor: pointer
  background: none
  border: none
  svg
    padding: 0 0 0 0.35em
    width: auto
    height: 8px
    path
      fill: var(--color-fg)
  &:hover
    transition: all 0.1s linear
    color: var(--color-fg-abs)
    svg
      path
        fill: var(--color-fg-abs)
.dropdown
  top: 35px
  right: 0px
  display: none
  position: absolute
  max-height: 400px
  overflow-y: scroll
  background-color: darken($color-light, 10%)
  @media (prefers-color-scheme: dark)
    background-color: lighten($color-dark, 8%)
  text-align: right
  z-index: 20
  border-radius: 2px
  color: var(--color-fg)
  ul
    margin: 0
    padding: 0
  li
    list-style: none
    a
      text-transform: initial
      padding: 0.2em 0.8em
      display: block
      color: var(--color-fg)
      text-decoration: none
      white-space: nowrap
      &:hover
        color: var(--color-fg-abs)
        background-color: darken($color-light, 15%)
        @media (prefers-color-scheme: dark)
          background-color: lighten($color-dark, 12%)

.open
  display: block

// CodeMirror overrides

.CodeMirror
  padding: 0 0.5em
  height: calc(100vh - 101px)
  direction: ltr
  background: var(--color-bg)
  color: var(--color-fg)
  @media screen and (max-width: $bp1)
    height: calc(50vh - 68px)

// Syntax highlighting

.cm-s-riff
  .cm-comment
    color: var(--color-comment)
  .cm-number
    color: var(--color-number)
  .cm-char
    color: var(--color-char)
  .cm-string
    color: var(--color-string)
  .cm-string-2
    color: var(--color-string-2)
  .cm-operator
    color: var(--color-operator)
  .cm-builtin
    color: var(--color-builtin)
  .cm-atom
    color: var(--color-atom)
  .cm-keyword
    color: var(--color-keyword)
  .cm-variable
    color: var(--color-fg)
  .cm-attribute
    color: var(--color-attribute)

  .CodeMirror-cursor
    border-left: 2px solid var(--color-fg)

  .CodeMirror-gutters
    border: none
    background-color: var(--color-bg)
  .CodeMirror-linenumber
    color: var(--color-comment)
  .CodeMirror-focused .CodeMirror-selected
    background-color: var(--color-selection)
  .CodeMirror-selected,
  .CodeMirror-line::selection, .CodeMirror-line > span::selection,
  .CodeMirror-line > span > span::selection
    background-color: var(--color-selection)
  .CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection,
  .CodeMirror-line > span > span::-moz-selection
    background-color: var(--color-selection)

