@import url("https://use.typekit.net/yjy6ajn.css");
:root {
  --color-bg: #fff;
  --color-fg: #000;
}

* {
  font-feature-settings: "zero" on;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  font-kerning: normal;
}

.menu {
  margin: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-left {
  order: 1;
}
.menu-left svg {
  width: auto;
  height: 45px;
}
.menu-left svg path {
  fill: var(--color-fg);
}
@media screen and (max-width: 600px) {
  .menu-left {
    margin-bottom: 0;
  }
  .menu-left svg {
    height: 60px;
  }
}

.menu-right {
  order: 2;
  display: flex;
  align-items: center;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-size: 16px;
  margin: 0 auto;
}

.main {
  display: flex;
  height: calc(100vh);
  flex-direction: column;
}

.playground {
  display: flex;
}
@media screen and (max-width: 600px) {
  .playground {
    flex-direction: column;
  }
}

.playground-left {
  min-width: 50%;
  order: 1;
}

.playground-right {
  min-width: 50%;
  order: 2;
  border-left: 3px solid var(--color-bg);
}

.playground-header {
  padding: 0.25em;
  background-color: rgba(128, 128, 128, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.playground-header div {
  font-size: 0.85em;
  font-family: calder-dark, sans-serif;
}
.playground-header span {
  font-family: calder-dark, sans-serif;
}

#metrics {
  font-family: source-code-pro, "source code pro", monospace;
  font-size: 0.75em;
  padding: 0;
}

.playground-input {
  flex: 1;
}

.playground-output {
  flex: 1;
}

.settings {
  display: flex;
  align-items: center;
  margin: 0 0 0 1em;
  transition: 0.05s all linear;
}

.dropdown {
  font-family: source-code-pro, "source code pro", monospace;
  top: 45px;
  right: 5px;
  display: none;
  position: absolute;
  max-height: 400px;
  overflow-y: scroll;
  background-color: var(--color-fg);
  text-align: left;
  z-index: 20;
  border-radius: 5px;
  color: var(--color-fg);
}
.dropdown ul {
  margin: 0;
  padding: 0;
}
.dropdown li {
  list-style: none;
}
.dropdown li a {
  padding: 0.2em 1em;
  display: block;
  color: var(--color-bg);
  text-decoration: none;
  white-space: nowrap;
}
.dropdown li a:hover {
  color: var(--color-fg);
  background-color: var(--color-bg);
}

.open {
  display: block;
}

.controls {
  display: flex;
  align-items: center;
  margin: 0 0 0 1em;
}

.setting {
  position: relative;
}

button.setting {
  display: flex;
  align-items: center;
  font-size: 1em;
  position: relative;
  color: var(--color-fg);
  font-family: calder-dark, sans-serif;
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 5px;
}

.setting-left {
  display: flex;
  align-items: center;
  border: 3px solid var(--color-fg);
  border-right: none;
  border-radius: 5px 0 0 5px;
  padding: 0.25em 1em 0.25em 0;
}
.setting-left svg {
  padding: 0 0.5em;
  width: auto;
  height: 20px;
}
.setting-left svg path {
  fill: var(--color-fg);
}

.setting-right {
  display: flex;
  align-items: center;
  border: 3px solid var(--color-fg);
  border-radius: 0 5px 5px 0;
  height: 36px;
}
.setting-right svg {
  padding: 0 0.5em;
  width: auto;
  height: 10px;
}
.setting-right svg path {
  fill: var(--color-fg);
}

button.control {
  display: flex;
  align-items: center;
  font-size: 1em;
  margin: 0 0 0 1em;
  position: relative;
  color: var(--color-fg);
  font-family: calder-dark, sans-serif;
  padding: 0.25em 1em 0.25em 0;
  cursor: pointer;
  background: none;
  border: 3px solid var(--color-fg);
  border-radius: 5px;
}
button.control svg {
  padding: 0 0.5em;
  width: auto;
  height: 20px;
}
button.control svg path {
  fill: var(--color-fg);
}

button.help {
  cursor: help;
  position: relative;
  border: none;
  background: none;
  margin: 0 0.5em;
  padding: 0 0.2em;
}
button.help .tooltip {
  font-family: source-code-pro, "source code pro", monospace;
  width: 250px;
  font-size: 1.1em;
  transition: 0.1s all linear;
  visibility: hidden;
  z-index: 10;
  position: absolute;
  color: var(--color-bg);
  background-color: var(--color-fg);
  border-radius: 5px;
  padding: 0.5em 1em;
  text-align: left;
  top: 140%;
  left: -52px;
  margin-left: -60px;
}
button.help .tooltip::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--color-fg) transparent;
}
button.help:hover > .tooltip {
  visibility: visible;
}
button.help:hover > .playground-dropdown {
  visibility: visible;
}
button.help svg {
  width: auto;
  height: 20px;
}
button.help svg path {
  fill: var(--color-fg);
}

button.run {
  background-color: var(--color-fg);
  color: var(--color-bg);
}
button.run svg {
  width: auto;
  height: 16px;
}
button.run svg path {
  fill: var(--color-bg);
}

.CodeMirror {
  font-family: source-code-pro, "source code pro", monospace;
  height: calc(100vh - 6em);
  direction: ltr;
}
