@import url("https://use.typekit.net/yjy6ajn.css")

@mixin monospace
  font-family: source-code-pro, 'source code pro', monospace

@mixin calder
  font-family: calder-dark, sans-serif

@mixin subtle
  color: rgba(128, 128, 128, 0.7)

:root
  --color-bg: #fff
  --color-fg: #000

*
  font-feature-settings: 'zero' on
  box-sizing: border-box

html
  -webkit-text-size-adjust: 100%
  font-kerning: normal

.menu
  margin: 0.5em
  display: flex
  flex-direction: column
  align-items: center
  @media screen and (max-width: 600px)
    flex-direction: row
    justify-content: space-between

.menu-logo
  order: 1
  margin-bottom: 1em
  svg
    width: auto
    height: 45px
    path
      fill: var(--color-fg)
  @media screen and (max-width: 600px)
    margin-bottom: 0
    svg
      height: 60px

.menu-controls
  order: 2
  display: flex
  flex-direction: column
  align-items: center
  @media screen and (max-width: 600px)
    flex-direction: row

body
  background-color: var(--color-bg)
  color: var(--color-fg)
  font-size: 16px
  margin: 0 auto

.main
  display: flex
  height: calc(100vh)
  @media screen and (max-width: 600px)
    flex-direction: column
    width: calc(100vw)
  
.playground
  display: flex
  // justify-content: space-between
  flex-direction: row
  @media screen and (max-width: 600px)
    flex-direction: column

.playground-left
  min-width: 50%
  order: 1

.playground-right
  min-width: 50%
  order: 2
  border-left: 3px solid var(--color-bg)

.playground-header
  padding: 0.25em
  background-color: rgba(128,128,128,0.1)
  display: flex
  align-items: center
  justify-content: space-between
  div
    font-size: 0.85em
    +calder
  span
    +calder

#metrics
  +monospace
  font-size: 0.75em
  padding: 0

.playground-input
  flex: 1

.playground-output
  flex: 1

.playground-dropdown
  transition: 0.05s all linear
  float: left
  visibility: hidden
  position: absolute
  max-height: 400px
  width: 200px
  overflow-y: scroll
  background-color: var(--color-fg)
  text-align: left
  top: 1.25em
  left: 125%
  z-index: 20
  border-radius: 5px
  margin: 0
  padding: 0
  color: var(--color-fg)
  &::after
    content: " "
    visibility: visible
    position: absolute
    top: 15%
    right: 100%
    margin-top: 5px
    border-width: 5px
    border-style: solid
    border-color: transparent var(--color-fg) transparent transparent
  li
    list-style: none
    a
      padding: 0.2em 1em
      display: block
      color: var(--color-bg)
      text-decoration: none
      white-space: nowrap
      &:hover
        color: var(--color-fg)
        background-color: var(--color-bg)
  @media screen and (max-width: 600px)
    display: none

.dropdown-header
  padding: 0.5em 1em
  color: var(--color-bg)
  border-bottom: 1px solid var(--color-bg)
  margin-bottom: 0.5em

.playground-controls
  display: flex
  flex-direction: column
  @media screen and (max-width: 600px)
    flex-direction: row
  button
    min-width: 55px
    display: inline-block
    position: relative
    color: var(--color-fg)
    +calder
    float: left
    margin: 0
    padding: 0.9em 0.7em
    cursor: pointer
    background: none
    border: 3px solid var(--color-fg)
    border-top: none
    .tooltip
      transition: 0.05s all linear
      visibility: hidden
      z-index: 10
      position: absolute
      color: var(--color-bg)
      background-color: var(--color-fg)
      border-radius: 5px
      padding: 0.5em 1em
      white-space: nowrap
      text-align: left
      top: 1.25em
      left: 125%
      @media screen and (max-width: 600px)
        display: none
      &::after
        content: " "
        position: absolute
        top: 15%
        right: 100%
        margin-top: 5px
        border-width: 5px
        border-style: solid
        border-color: transparent var(--color-fg) transparent transparent
    &:hover > .tooltip
      visibility: visible
    &:hover > .playground-dropdown
      visibility: visible
    @media screen and (max-width: 600px)
      border: 3px solid var(--color-fg)
      border-left: none
      &:hover > .tooltip
        visibility: hidden
      &:hover > .playground-dropdown
        visibility: hidden
    svg
      width: auto
      height: 35px
      path
        fill: var(--color-fg)
    &:first-child
      background-color: var(--color-fg)
      border: 3px solid var(--color-fg)
      border-bottom: none
      border-radius: 10px 10px 0 0
      padding: 0.9em
      @media screen and (max-width: 600px)
        border-radius: 10px 0 0 10px
      svg
        height: 30px
        path
          fill: var(--color-bg)
    &:last-child
      border: 3px solid var(--color-fg)
      border-top: none
      border-radius: 0 0 10px 10px
      @media screen and (max-width: 600px)
        border-radius: 0 10px 10px 0
        border: 3px solid var(--color-fg)
        border-left: none

// CodeMirror overrides

// BASICS

// Set height, width, borders, and global font properties here
.CodeMirror
  +monospace
  height: calc(100vh - 2em)
  width: calc(45.5vw)
  direction: ltr
  @media screen and (max-width: 600px)
    width: calc(100vw - 2em)
    height: calc(42vh)
    
